.picture { /* This hides the cover-image on mobile */
    display: none;
}

.header-container {
    margin-left: 24px;
}

.profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.myProfilePic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px;
}

.name, .title {
    font-family: 'Satoshi-Variable';
    font-style: normal;
}

.name {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: #0B24F5;
}

.title {
    font-weight: 900;
    font-size: 32px;
    line-height: 43px;
    color: #000000;
}

.introduction {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #000000;
    margin: 24px 0 24px 0;
    max-width: 95%;
}

.contact-me {
    display: flex;
    margin: 24px 0 12px 0;
}

.icon {
    font-size: 32px;
    color: black;
    opacity: 0.3;
    padding-right: 24px;
}

.icon:hover {
    opacity: 1;
}