@import url('./css/satoshi.css');

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.picture { /* This hides the cover-image on mobile */
    display: none;
}
/* Scroll to top button*/
.top-button {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: #0B24F5;
    color: white;
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    border-radius: 50%;
    font-size: 18px;
    z-index: 99;
    border: none;
    outline: none;
    opacity: 0.7;
  }

  .hideTopBtn {
    display: none;
  }
  
  .top-button:hover {
    opacity: 1;
  }

/* SECTION: HEADER */
.header-container {
    margin-left: 24px;
}

.profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.myProfilePic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px;
}

.name, .title {
    font-family: 'Satoshi-Variable';
    font-style: normal;
}

.name {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: #0B24F5;
}

.title {
    font-weight: 900;
    font-size: 32px;
    line-height: 43px;
    color: #000000;
}

.introduction {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #000000;
    margin: 24px 0 24px 0;
    max-width: 95%;
}

.contact-me {
    display: flex;
    margin: 24px 0 12px 0;
}

.icon {
    font-size: 32px;
    color: black;
    opacity: 0.3;
    padding-right: 24px;
}

.icon:hover {
    opacity: 1;
}

.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0B24F5;
    font-family: 'Satoshi-Variable';
    font-style: normal;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    0%   {transform: translateY(0);}
    100% {transform: translateY(50px);}
  }

.arrow {
    font-size: 26px;
    margin: 10px;
}

.scroll-text {
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: fit-content;
}

/*** SECTION: TECH ***/
.tech {
    background-color: #EDFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0 80px 0;
}

.tech h2 {
    font-family: 'Satoshi-Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 108px;
    color: #0B24F5;
}

.tech p {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #000000;
    margin: 24px;
}

.tech mark {
    color: #FFFFFF;
    padding: 2px;
    gap: 8px;
  }

.pink-bg-text {
    background-color: #EB5577;
  }
  
  .blue-bg-text {
    background-color: #0B24F5;
  }
  
  .light-blue-bg-text {
    background-color: #2483E0;
  }

/*** SECTION: FEATURED PROJECTS ***/
.showList {
    display: inline;
    padding: 3px;
    margin: 0 2px;
    background-color: #000000;
    color: #ffff;
    font-family: 'Satoshi-Variable';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.hideList {
    display: none;
}

/* SKILLS COMPONENT */
.skills {
    background-color: #FDF2E4;
    font-family: 'Satoshi-Variable';
    font-style: normal;
    text-align: center;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 66px;
    padding-bottom: 96px;
}

.skills h2 {
    font-weight: 700;
    font-size: 80px;
    line-height: 108px;
    color: #0B24F5;
    margin: 24px;
}

.skills h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    padding: 2px;
    margin: 10px;
    text-align: center;
}

.skills li {
    text-align: center;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #000000;
}

.h3-code {
    background-color: #EB5577;
}

.h3-toolbox {
    background-color: #2483E0;
}

.h3-more {
    background-color: #0B24F5;
}

.h3-upcoming {
    background-color: #6DB486;
}

/* FOOTER COMPONENT */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 48px 24px 48px 24px;
}

footer h2 {
    font-family: 'Satoshi-Variable';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 78px;
    text-align: center;
    color: #EB5577;
}

.myProfileImg {
    margin: 24px 0 12px 0;
}

.phoneAndMail {
    font-family: 'Satoshi-Variable';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin: 48px 0 48px 0;
}

.contactMe {
    display: flex;
    margin-top: 12px;
}


/* RESPONSIVE DESIGN FOR SMALL MOBILES */
@media (min-width: 320px) and (max-width: 374px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 6px;
    }
    .tech, .skills {
        background-color: white;    
    }
}

/* RESPONSIVE DESIGN FOR TABLET */
@media (min-width: 667px) and (max-width: 1024px) {
    .picture {
        display: block;
    }

    .cover {
        max-height: 412px;
        width: 100%;
        object-fit: cover;
    }

    .header-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .myProfilePic {
        justify-content: end;
    }

    .nameAndTitle {
        grid-column: 2 / span 2;
        
    }

    .introduction, .contact-me {
        grid-column: 1 / span 3;
        width: 80%;
        margin-left: 100px
    }

    .scroll {
        margin: 24px 24px 12px 24px;
        padding: 0 30px 0 30px;
    }

    .tech {
        padding: 140px 60px 140px 60px;
    }

    .tech h2 {
        margin: 24px;
    }

    .tech p {
        width: 75%;
    }

    .skills-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        margin: 0 48px 0 48px;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer h2 {
        font-weight: 900;
        font-size: 120px;
        line-height: 162px;
    }

    .myProfileImg {
        margin: 16px;
    }

    .about-me {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 24px;
    }

    .phoneAndMail {
        margin: 48px;
    }

    .contactMe {
        display: flex;
        margin: 48px;
    }
}

/* RESPONSIVE DESIGN FOR DESKTOP */
@media (min-width: 1024px) {
    header {
        display: flex;
        flex-direction: row-reverse;
        height: 920px;
        align-items: center;
    }

    .picture {
        display: flex;
        max-width: 100%;
        min-width: 50%;
        min-height: 100%;
    }

    .cover {
        object-fit: none;
        object-position: right 0%;
        width: 100%;
        filter: brightness(50%);
    }

    .header-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .myProfilePic {
        justify-content: end;
    }

    .nameAndTitle {
        grid-column: 2 / span 2;
    }

    .introduction, .contact-me {
        grid-column: 1 / span 3;
        width: 80%;
        margin-left: 100px
    }

    .scroll {
        position: absolute;
        left: 51%;
        top: 85%;
        margin-left: -50px;
        margin-top: -50px;
    }

    .tech {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 180px 90px 180px 90px;
    }

    .tech h2 {
        margin: 24px;
    }

    .tech p {
        width: 75%;
    }

    .featured-projects button {
        display: inline;
        margin-right: 5px;
    }

    .skills-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        margin: 0 48px 0 48px;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 62px 0 62px 0;
    }

    footer h2 {
        font-weight: 900;
        font-size: 120px;
        line-height: 162px;
    }

    .myProfileImg {
        margin: 16px;
    }

    .about-me {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 24px;
    }

    .phoneAndMail {
        margin: 48px;
    }

    .contactMe {
        display: flex;
        margin: 48px;
    }
}